@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
li{
    list-style: none;
    display: inline;
}
.inline-p p{
    display: inline;
}
input{
    outline: none;
    padding: 0 10px;
}
.fa-square-check{
    font-size: 20px;
}